
.accordion__section{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    
}

.accordion{
    background-color: white;
    color:#444;
    cursor: pointer;
    padding:18px;
    display: flex;
    align-items: center;
    border: none;
    outline:none;
    transition: background-color 0.6s ease;
    border-radius: 5px;
}
.accordion:hover{
    background-color: #b4acfb;

}

.active{
    background-color: #b4acfb;
    border-radius:5px 5px 0px 0px;
}

.accordion__title{
    font-weight: 600;
    font-size: 14px;
}

/* .accordion__icon{
    margin-left:auto;
    transition: transform 0.6s ease;
} */
.plus__minus{
    margin-left:auto;

}
.plus__minus div{
    background-color: black;
    height:2px;
    width:18px;
    
}

.line__1{
    transform: translateY(2px);
    transition: display 0.2s ease-in-out;
}
.line__1active__icon{
 display: none;
 transition: display 0.2s ease-in-out;
}
.line__2{
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}
.line__2active__icon{
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.rotate{
    transform: rotate(90deg);
}

.accordion__content{
    background-color:#b4acfb;
    overflow: hidden;
    transition: max-height 0.6s ease;
    border-radius: 0px 0px 5px 5px;
}

.accordion__text{
    color:black;
    font-weight: 400;
    font-size: 14px;
    padding:18px;
}